.menuButton {
  width: 5%;
}
.logoDiv {
  text-align: center;
  width: 100%;
}
.shopTable {
  background-color: #e7d5b2;
  margin: 12px;
  width: 84%;
  float: right;
  position: relative;
  left: -8%;
  border: 2px solid black;
  padding: 2px;
}
.announceTable {
  font-family: Garamond;
  background-color: #e7d5b2;
  margin: 12px;
  width: 74%;
  float: right;
  position: relative;
  left: -13%;
  border: 2px solid black;
  padding: 2px;
}
.headerItem {
  padding: 3px;
  background-color: #d6b385;
  border: 1px solid black;
  text-align: center;
  width: 150px;
  font-weight: bold;
  font-family: Garamond;
}
.footerItem {
  padding: 3px;
  background-color: #f0daae;
  border: 1px solid black;
  text-align: right;
  width: 150px;
  font-family: Garamond;
}
.tableItem {
  padding: 2px;
  background-color: #f5ecd9;
  text-align: right;
  font-style: italic;
}
.announcement {
  padding: 12px;
  background-color: #f5ecd9;
  text-align: center;
}
.tableInput {
  background-color: #f5ecd9;
  text-align: left;
  font-style: italic;
}
.announcementImg {
  padding: 2px;
  border: 1px solid black;
}
.scrollingImg {
  width: 42%;
  position:fixed;
}
